

* {
   overflow: hidden;
   margin: 0;
   color: white; 
   font-family: 'Overpass', sans-serif;
}
header {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 5vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;
    z-index: 3;
    padding: auto;
    opacity: 0.7;
    background: rgba(0, 90, 255, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header span{
    margin: auto;
}

.logoimg{
    position: absolute;
    top: 0%;
    right: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 90, 255, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 7px );
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .sidenav div{
      margin-top: 60px;
      margin-bottom: 30px;
  }
  .sidenav img{
      width: 100%;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgba(85, 85, 85, 0.219);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .infoWrapper{
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 5vh;
    left: 10vw;
    border-style: inset;
    display: none;
    
    background: rgba(206, 206, 206, 0.411);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 30px;
border: 10px solid rgba(255, 255, 255, 0);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0% 0px;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
  }
  
  .BoxContainer { 
      grid-area: 6 / 6 / 12 / 8;
    overflow: auto;
    position: relative;
    /* background-color: rgba(0, 255, 255, 0.363); */
    padding: 1.5vh 1vw;
    margin: 10px;
    border-radius: 20px

}
.BoxContainer::-webkit-scrollbar {
    width: 12px;
}

.BoxContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.BoxContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
  
.infoBox{
    background-color: #35126952;

}
  .discBox { 
      grid-area: 1 / 6 / 6 / 10;
      background-color: #1400472c;
    }
    .discBox img{
        height: 10vh;
        margin-bottom: 1.5vh;
    }
  
  .miniMap { 
      grid-area: 10 / 1 / 12 / 6;
      background-color: #2f6f8052; 
      padding: 0%;
    }
    .miniMap ul{
        padding: 0;
    }
    
.miniMap li {
	padding-right: 10px;
    height: 50%;
    width: 20%;
	display: inline;
}
.miniMap img{
    height: 7vh;
    width: 7vh;

}
.miniMap a{
    
  text-decoration:none;
}

.miniMap .BoxWrapper{
    width: 130%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center
}
.miniMap .boxTitle{
    width: fit-content;
    font-size: 2vh !important;
    margin: 1.5vh 1.5vw !important;
}
    .miniMap .BoxText{
        margin: 1.5vh 1.5vw !important;
    }
  
  .mainMap { 
      grid-area: 1 / 1 / 10 / 6; 
      background-color: #0000003a;

    }

    .mainMap img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    



  
  .stateList { 
      grid-area: 6 / 8 / 10 / 10;
      background-color: #3c773552;
    }


    .stateButton {
        border: 2px solid rgb(174 232 255 / 50%);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    }
    .stateButton:hover{
        background-color: rgba(137, 43, 226, 0.233);
    }
  
  .videoBox { 
      grid-area: 10 / 8 / 12 / 10; 
      background-color: rgba(165, 42, 42, 0.26);
      padding: 0 !important;
    }
    .videoBox .BoxWrapper{
        height: 100%;
    }
  
  .crossButton { 
      grid-area: 1 / 9 / 2 / 10; 
      overflow: visible;
      margin: 0;
      padding: 0;
    }
    .crossButton strong{
        background: rgba(255, 0, 0, 0.281);
        padding: 5px 10px 1px 10px;
        border-radius: 50%;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    .crossButton strong:hover{
        background: rgba(255, 0, 0, 0.753);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.4);

    }
    .crossButton .boxTitle{
        justify-content: flex-end !important;
    }

    .BoxWrapper {
        width: 100%;
    }
    .BoxWrapper .boxTitle{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin: 2%;
    }

    .BoxText{
        font-size: 1.2rem;
        margin: 2%;
    }


    .attemptQuizButton{
        background-color: rgb(231, 60, 60);
        height: auto;
        width: auto;
        justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    /* width: 80vw;
    height: 90vh; */
    text-align: center;
    border-radius: 0 50px 50px 0px;
    padding: 10px;
    padding-right: 15px;
    padding-top: 10px;
    top: 50vh;
    left: calc(90vw + 20px);
    transition: all 0.2s ease;
    display: none;

    cursor: pointer;
    }

    .attemptQuizButton:hover{
        transform: scale(1.4);
        background-color: rgba(0, 71, 179, 0.884);

    }

    .topics{
        top: 40vh;
        display: none;
        text-decoration: none;
    }
    .gameButton {
        top: 60vh;
    }
    .gameclose{
        position:absolute;
    }
.quiz{
    justify-content: left;
    align-content: left;
    display: block;
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 5vh;
    left: 10vw;
    border-style: inset;
    padding: 2rem;
    overflow: auto;
    display: none;
    
    background: rgba(206, 206, 206, 0.411);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 30px;
border: 10px solid rgba(255, 255, 255, 0);
}

.quiz::-webkit-scrollbar {
    width: 12px;
}

.quiz::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.quiz::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.quiz strong{
    font-size: 2vw;
}
.quiz input{
    text-decoration: none;
    color: #000;
    position: static;
}
.quiz h2{
    text-align: center;
    margin: 20px;
    font-size: 3em;
}
.quizQuestions{
    
    padding: 2vh 5vw;
}

.quiz span{
    color: rgb(0, 255, 0);
    font-size: 3vh;
    display: none;
}
.quizbtn{
   
    width: auto;
    height: 4em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #38190e80;
}
.quizClose{
    background: rgba(255, 0, 0, 0.281);
    padding: 5px 10px 1px 10px;
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.quizClose:hover{
    background: rgba(255, 0, 0, 0.753);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);

}

.game{
    justify-content: left;
    align-content: left;
    display: block;
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: 15vh;
    left: 60vw;
    border-style: inset;
    padding: 2rem;
    display: none;
    
    background: rgba(206, 206, 206, 0.411);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 30px;
border: 10px solid rgba(255, 255, 255, 0);
}
.game iframe{
    width: 100%;
    height: 100%;
}
  
#title-box {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 35vh;
    left: 35vw;
    border-style: inset;
    border-width: 5px;
    border-radius: 5%;
    border-color: red;
    display: none;
}

#title {
    padding-top: 5%;
    align-self: center;
    text-align: center;
    font-size: 40pt;
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
}

#subtitle {
    padding-top: 5%;
    align-self: center;
    text-align: center;
    font-size: 30pt;
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
}

#instruction-box {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-radius: 5%;
    border-width: 5px;
    border-color: red;
    background-color: black;
    position: absolute;
    right: 5vh;
    bottom: 5vh;
    width: 25vw;
    height: 20vh;
    opacity: 85%;
    display: none;
}

#instruction-title {
    align-self: center;
    text-align: center;
    font-size: 30pt;
    width: 100%;
    height: 20%;
    font-style: oblique;
    padding-bottom: 3%;
    color: burlywood;
}

#instruction-body {
    width: 100%;
    height: 60%;
}

#instruction-body > h1 {
    padding: 0;
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: 15pt;
    padding-bottom: 5%;
    color: burlywood;
}

#display-box {
    justify-items: center;
    align-content: center;
    display: none;
    flex-direction: column;
    border-style: inset;
    border-width: 5px;
    border-radius: 5%;
    border-color: red;
    background-color: black;
    opacity: 80%;
    position: absolute;
    left: 5vh;
    bottom: 5vh;
    width: 15vw;
    height: 20vh;
}

#display-box-title {
    margin-top: 5%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    width: 75%;
    height: 15;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}

/* #country {
    color: black;
    font-style: oblique;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    width: 75%;
    height: 30%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
} */

/* #instructions {
    color: black;
    font-style: oblique;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    width: 75%;
    height: 30%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
} */

/* #info-box {
    justify-items: center;
    align-content: center;
    flex-direction: column;
    border-style: inset;
    border-width: 5px;
    border-radius: 5%;
    border-color: red;
    background-color: black;
    opacity: 80%;
    position:relative;
    width: 15vw;
    height: 50vh;
    font-size: 9pt;
    font-style: normal;
}

#info-title {
    font-size: 14pt;
    margin-top: 5%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 2%;
}

#region {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}
				
#country-info {
    font-size: 12pt;
    margin-top: 3%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}

#language {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}
    
#population {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}
    
#area-sq-mi {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}
    
#gdp-per-capita {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
}
    
#climate {
    font-size: 12pt;
    margin-top: 4%;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    text-indent: 3%;
    width: 75%;
    height: 7%;
    border: inset;
    border-color: burlywood;
    border-radius: 5%;
    margin-bottom: 1%;
} */



