body {
  font-family: "Lato", sans-serif;
  display: flex
}

.navbar {
  overflow: hidden;
  background-color: #003152;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  box-shadow: 0px 13px 69px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 13px 69px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 69px -6px rgba(0,0,0,0.75);
display: flex;
justify-content: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5vh;
  text-decoration: none;
  font-size: 17px;
  height: 88%;

}

.navbar a:hover {
  background: #ddd;
  color: black;
}
header img{
  height: 100%;
}


.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003152;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #5e91b6;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav h3{
  color: #ffffff;
  margin: auto;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 60px;
}

.main {
  margin-top: 100px;
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 7rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.rightimg{
  width: 500px;
  border-radius: 20px;
  float: right;
  margin: 20px;
}

.leftimg{
  width: 500px;
  border-radius: 20px;
  float: left;
  margin: 20px;
}

h2, h1, h3, h4, h5, h6 {
  color: #2c4353;
}

h1{
  text-align: center;
}

li a{
  text-decoration: none;
}
li a:hover{
  color: red;
}

.main p {
  font-size: 22px;
}

iframe{
  width: 70%;
  /* height: 21vh; */
  height: calc(2* 11vw);
  border-radius: 20px;
  margin: 20px 15%;
  margin-bottom: 50px;
}